.contact__list {
    max-width: 30%;
    max-height: 30%;
    margin: 0 auto auto;
    color: white;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 0.1em;
}

@media screen and (max-width: 800) {
    .contact__list {
        border: 1px solid red;
    }
}
