.header {
    margin-right: 30vh;
    height: 70%;
    background-color: rgb(230, 230, 230);
    border-bottom-right-radius: 25px;
    box-shadow: 0 0 15px rgb(173, 173, 173);
    grid-column: 1/-2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}