.footer__title {
    margin: 10 auto 0;
    color: white;
    font-size: 22px;
    font-weight: 100;
    letter-spacing: 0.3em;
    grid-column: 2/-3;
}

@media screen and (max-width: 1610px) {
    .footer__title {
        margin-top: 9px;
    }
}

@media screen and (max-width: 1400px) {
    .footer__title {
        font-size: 18px;
    }
}

@media screen and (max-width: 1040px) {
    .footer__title {
        font-size: 15px;
    }
}
