.footer__title {
    margin: 10 auto 0;
    color: white;
    font-size: 1em;
    font-weight: 100;
    letter-spacing: 0.3em;
    text-shadow: 0 0 10px rgb(153 153 153);
    grid-column: 2/-3;
}

@media screen and (max-width: 1610px) {
    .footer__title {
        margin-top: 9px;
    }
}