.footer__image {
    height: 42.5%;
    width: 85%;
    margin-top: 8%;
    border: none;
    cursor: pointer;
    background-image: url(../../../images/_portret.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 21px;
    transition: transform 0.2s cubic-bezier(0.7, 0.03, 1, 1);
}

.footer__image:hover {
    transform: scale(1.18);
}

@media screen and (max-width: 800px) {
    .footer__image {
        height: 61.4%;
        grid-row: -1/-2;
    }
}

@media screen and (max-width: 414px) {
    .footer__image {
        height: 55.25%;
    }
}

