.section__image {
    height: 85%;
    width: 85%;
    object-fit: cover;
    border-radius: 21px;
    transition: transform 0.2s cubic-bezier(0.7, 0.03, 1, 1);
}

.section__link:hover .section__image {
    transform: scale(1.18);
}
