.root {
    height: 100vh;
    background-color: rgb(209, 209, 214);
    display: grid;
    grid-template-columns: auto repeat(4, max-content) auto;
    grid-template-rows: 0.5fr repeat(3, 1fr) 0.5fr;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

@media screen and (max-width: 900px) {
    .root {
        grid-template-columns: repeat(3, 1fr);
    }
}