.root {
    height: 100vh;
    background-color: rgb(209, 209, 214);
    display: grid;
    grid-template-columns: auto repeat(4, max-content) auto;
    grid-template-rows: 0.5fr repeat(4, 1fr) 0.5fr;
    font-size: 22px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

@media screen and (max-width: 1400px) {
    .root {
        font-size: 18px;
    }
}

@media screen and (max-width: 1024px) {
    .root {
        font-size: 14px;
    }
}

@media screen and (max-width: 800px) {
    .root {
        grid-template-rows: 0.5fr repeat(6, 1fr);
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    .root {
        font-size: 16px;
    }
}

@media screen and (max-width: 414px) {
    .root {
        font-size: 12px;
    }
}
