.footer {    
    height: 90%;
    width: 65%;
    margin: 15% auto 0;
    background-color: rgb(230, 230, 230);
    border-radius: 35px 35px 0 0;
    box-shadow: 0 0 15px rgb(173, 173, 173);
    grid-column: -1/-2;
    grid-row: -3/-1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}