.section {
    height: 65%;
    width: 65%;
    margin: auto;
    background-color: rgb(230, 230, 230);
    border-radius: 25px;
    box-shadow: 0 0 15px rgb(173, 173, 173);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}