.section__title {
    width: 140%;
    margin: 0;
    color: white;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 0.2em;
    position: absolute;
    top: calc(100% + 10px);
    left: -20%;
    right: -20%;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: -2;
}

.section:hover .section__title {
    opacity: 1;
    z-index: 2;
}

@media screen and (max-width: 1610px) {
    .section__title {
        top: calc(100% + 4px);
        font-size: 18px;
    }
}

@media screen and (max-width: 1400px) {
    .section__title {
        font-size: 16px;
    }
}

@media screen and (max-width: 1040px) {
    .section__title {
        font-size: 12px;
    }
}
